@model IEnumerable<Domain.Thread>

@{
    ViewData["Title"] = "Home";
}
<h1>@ViewData["Title"]</h1>

@if (ViewBag.RankLevel >= 1)
{
    <a asp-action="CreateThread">Create new thread</a>
}

<hr>
@for (int i = 0; i < Model.ToList().Count; i++)
{
    var item = Model.ToList()[i];
    <div class="thread">
        <h2 class="wrap">@item.Title</h2>
        <p class="creation">
            Posted by @item.User.Username at @item.CreationTime
            <br>
            Tags:
            @if (item.ThreadTags.Count > 0)
            {
                List<string> tagNames = new List<string>();
                foreach (var tag in item.ThreadTags)
                {
                    tagNames.Add(tag.Tag.Name);
                }
                @string.Join(", ", tagNames.ToArray());
            }
            else
            {
                @:None
            }
        </p>
        <p class="message wrap">@item.Message</p>
        <h3>Comments</h3>
        @if (item.Comments.Count > 0)
        {
            <hr align="left" width="40%">
            for (int y = 0; y < item.Comments.Count; y++)
            {
                var comment = item.Comments[y];
                <div class="comment">
                    <p class="creation">
                        Posted by @comment.User.Username at @comment.CreationTime
                    </p>
                    <p class="message wrap">@comment.Message</p>
                </div>
                <hr align="left" width="40%">
            }
        }
        else
        {
            <p>None yet</p>
        }
        @if (ViewBag.RankLevel >= 0)
        {
            <p><a asp-action="PostComment" asp-route-id="@item.Id">Post a new comment</a></p>
        }
        else
        {
            <p><a asp-controller="Account" asp-action="Login">Login to post a new comment</a></p>
        }
        @if (ViewBag.RankLevel >= 1 || ViewBag.Username != null && ViewBag.Username.Equals(item.User.Username))
        {
            <a asp-action="EditThread" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
            <a asp-action="RemoveThread" asp-route-id="@item.Id" class="btn btn-danger">Remove</a>
        }
    </div>
    @if (i + 1 != Model.ToList().Count) // not the last item
    {
        <hr>
    }
}