@model IEnumerable<Domain.Thread>

@{
    ViewData["Title"] = "Home";
}
<h1>@ViewData["Title"]</h1>

@if (TempData["Message"] != null)
{
    <script src="~/js/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-os'</script>
    <link href="~/css/vex.css" rel="stylesheet" />
    <link href="~/css/vex-theme-default.css" rel="stylesheet" />
    <script>
        vex.dialog.alert({
            message: '@TempData["Message"]',
            className: 'vex-theme-default'
        })
    </script>
}

<p>
    <a asp-action="Create">Create new thread</a>
</p>

<hr>
@for (int i = 0; i < Model.ToList().Count; i++)
{
    var item = Model.ToList()[i];
    <div class="thread">
        <h2>
            @item.Title
        </h2>
        <p class="creation">
            Posted by
            @item.User.Username
            at
            @item.CreationTime
            <br>
            Tags: 
            @if (item.ThreadTags.Count > 0)
            {
                List<string> tagNames = new List<string>();
                foreach (var tag in item.ThreadTags)
                {
                    tagNames.Add(tag.Tag.Name);
                }
                @string.Join(", ", tagNames.ToArray());
            }
            else
            {
                @:None
            }
        </p>
        <p class="message">
            @item.Message
        </p>
        <h3>
            Comments
        </h3>
        @if (item.Comments.Count > 0)
        {
            <hr align="left" width="40%">
            for (int y = 0; y < item.Comments.Count; y++)
            {
                var comment = item.Comments[y];
                <div class="comment">
                    <p class="creation">
                        Posted by
                        @comment.User.Username
                        at
                        @comment.CreationTime
                    </p>
                    <p class="message">
                        @comment.Message
                    </p>
                </div>
                <hr align="left" width="40%">
            }
        }
        else
        {
            <p>None yet</p>
        }
        <a href="createcomment">Post a new comment</a>
    </div>
    @if (i+1 != Model.ToList().Count) // not the last item
    {
        <hr>
    }
}