@model IEnumerable<Domain.Comment>

@{
    ViewData["Title"] = "Moderation";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.User.Username)</th>
            <th>Thread title</th>
            <th>@Html.DisplayNameFor(model => model.Message)</th>
            <th>Approved | Disapproved posts</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Evaluations.Count == 0)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.User.Username)</td>
                    <td>@Html.DisplayFor(modelItem => item.Thread.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Message)</td>
                    @{ 
                        int approvedPosts = 0, disapprovedPosts = 0;
                        foreach(var c in item.User.Comments)
                        {
                            approvedPosts += c.Evaluations.Where(e => e.EvaluationValue.Name.Equals("Approved")).Count();
                            disapprovedPosts += c.Evaluations.Where(e => e.EvaluationValue.Name.Equals("Disapproved")).Count();
                        }
                    }
                    <td><span style="color: forestgreen">@approvedPosts</span> | <span style="color: red">@disapprovedPosts</span></td>
                    <td>
                        <a asp-action="ModerateComment" asp-route-id="true" class="btn btn-success">Approve</a> 
                        <a asp-action="ModerateComment" asp-route-id="false" class="btn btn-danger">Disapprove</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>